@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  background-color: #020617;
  background-image: linear-gradient(
      to right,
      rgba(71, 85, 105, 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(71, 85, 105, 0.3) 1px, transparent 1px),
    radial-gradient(
      circle at 50% 50%,
      rgba(139, 92, 246, 0.15) 0%,
      transparent 70%
    );
  background-size: 32px 32px, 32px 32px, 100% 100%;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
